<h2>
  <%= image_tag 'ecart.jpg', width: 50, height: 50%>
  EStore
</h2>
<div class='order-links'>
  <%= link_to 'Continue shopping', products_path %> | 
  <%= link_to 'View Cart', @cart %>
</div>
<h3>Shopping cart</h3>
<input type="hidden" id="shopping-cart-id" value="<%=@cart.id%>"/>
<% total_price = 0.0 %>
<% if @cart.cart_items.empty? %>
  <p><strong>Your shopping cart is empty!</strong></p>
<% end %>
<% @cart.cart_items.each do |cart_item| %>
  <%
    product = @products_by_id[cart_item.product_id]
    price = cart_item.quantity * Float(product['price'])
    total_price += price
  %>
  <div class="cart-item-#{cart_item.product_id}">
    <%= cart_item.quantity %>
    x
    <%= product['title'] %>
    =
    <%= price %>
  </div>
<% end %>
Total: <%= total_price %>
<%= button_to 'Place order', orders_path %>
