<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @inventory_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @inventory_item.quantity %>
</p>

<p>
  <b>Shelf:</b>
  <%= @inventory_item.shelf_id %>
</p>


<%= link_to 'Edit', edit_inventory_item_path(@inventory_item) %> |
<%= link_to 'Back', inventory_items_path %>
