<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @delivery_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @delivery_item.quantity %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @delivery_item.shipping_address %>
</p>


<%= link_to 'Edit', edit_delivery_item_path(@delivery_item) %> |
<%= link_to 'Back', delivery_items_path %>
